*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  background: #e5e5e5;
}

.container {
  position: relative;
  max-width: 1366px;
  height: 3651px;

  box-sizing: border-box;
  margin: 0 auto;

  background: #fff;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

/* ===Header=== */

.header {
  position: absolute;
  width: 1366px;
  height: 90px;
  left: 0px;
  top: 0px;
  z-index: 2;

  background: #fff;
}

.ripped_header {
  position: inherit;
  max-width: 100%;
  width: 1366px;
  height: 30px;
  left: 0;
  top: 85.07px;
  z-index: 2;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  background-image: url(../img/ripped_header.svg), url(../img/ripped_header.png);
}

.black-logo {
  position: absolute;
  width: 159px;
  height: 96px;
  left: 62px;
  top: 0;
  z-index: 3;
}

.nav {
  position: inherit;
  height: 45px;
  width: 999px;
  top: 51px;
  left: 305px;
  z-index: 3;

  margin: 0;

  font-weight: 500;
  color: #060606;
}

.nav,
.about-company,
.btn,
.form-field,
.small-form-text,
.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.inner-nav {
  display: flex;
  margin: 0;
  padding: 0;

  justify-content: space-between;
  list-style: none;
}

.nav-item {
  display: inline-block;
  /* transition: border-bottom .3s; */
}

.nav-item:hover,
.active {
  border-bottom: 3px solid #ffa800;
  /* transition-timing-function: ease-in;
    transition-duration: .7s; */
  /* transition: border-bottom .3s; */
}

/* ===Introduction section=== */

.video {
  display: block;
  position: absolute;
  width: 1366px;
  height: 722px;
  left: 0px;
  top: 47px;
  z-index: 1;
  cursor: pointer;

  background: url(../img/play.png) no-repeat center,
    url(../img/Sparkle_Video.jpg);
  /* filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25)); */
}

.video.active {
  background-color: white;
}

.about-company {
  position: absolute;
  width: 654px;
  height: 114px;
  left: 356px;
  top: 919px;

  margin: 0;

  text-align: center;
  color: #2f4858;
}

/* ===Gallery section===*/

.flex-container-gallery {
  position: absolute;
  max-width: 100%;
  width: 1366px;
  top: 1200px;
  left: 0;
  display: flex;
}

.first-img,
.second-img {
  display: flex;
  align-items: center;
}

.row-inner {
  height: 195px;
}

.top-img {
  display: flex;
  align-items: flex-end;
}

.flex-container-gallery::before {
  content: "";
  background-image: url(../img/ripped.svg), url(../img/ripped.png);
  position: inherit;

  max-width: 100%;
  width: 1366px;
  height: 55px;
  left: 0;
  z-index: 2;
}

.flex-container-gallery::after {
  content: "";
  background-image: url(../img/ripped.svg), url(../img/ripped.png);
  transform: rotate(-180deg);
  position: inherit;

  max-width: 100%;
  width: 1366px;
  height: 55px;
  left: 0;
  top: 340px;
}

/* ===Contacts section=== */

.flex-container-contacts {
  position: absolute;
  width: 978px;
  top: 1731px;
  left: 220px;
  display: flex;
  justify-content: space-around;
}

.section-titel,
.form-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #2f4858;
  text-align: center;
}

.section-titel {
  font-size: 24px;
  line-height: 36px;

  margin: 0;
}

.flex-container-btn {
  position: absolute;
  width: 720px;
  left: 320px;
  top: 1810px;
  display: flex;
  justify-content: space-between;
}

.user-btn {
  width: 233px;
  height: 52px;

  padding: 0 50px;
  border: 0;
  border-radius: 50px;

  background-color: #ffa800;
  cursor: pointer;
}

.btn {
  font-weight: 500;
  color: #ffffff;
}

.btn:hover {
  background-color: #ffda16;
}

.btn:active {
  background-color: #ff8a00;
}

/* ===Form section=== */

.form-title {
  font-size: 30px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 55px;
}

.contact-form {
  position: absolute;
  top: 2010px;
  left: 377px;
  width: 612px;
}

.form-field {
  width: 612px;

  border: 0;
  border-radius: 6px;
  padding-left: 10px;
  margin-bottom: 15px;

  background: rgba(196, 196, 196, 0.4);
  color: #2f4858;
}

input[type="text"],
input[type="email"] {
  width: 296px;
}

input[type="email"] {
  float: right;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  height: 43px;
}

.comment-field {
  height: 232px;
  padding-left: 10px;
  padding-top: 10px;
}

.mandatory-info {
  margin: 0;
}

.small-form-text {
  font-size: 14px;
  line-height: 17px;
  color: #2f4858;
}

.checkbox {
  display: inline-block;
  margin-top: 25px;
  margin-right: 20px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;

  margin: 0;
  border-radius: 3px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(196, 196, 196, 0.4);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #ff8a00;
  text-align: center;
  line-height: 0.83rem;
}

.text-block {
  width: 576px;
  display: inline;
  float: right;
  margin-top: 25px;
}

.submit-form-btn {
  position: absolute;
  width: 182px;
  height: 62px;
  left: 215px;
  top: 605px;

  border-radius: 50px;
  border: 0;

  font-size: 24px;
  line-height: 29px;
  background: #ffa800;
}

/* ===Benefactors section=== */

.benefactors-titel {
  position: absolute;
  left: 486px;
  top: 100px;
  width: 394px;
}

.benefactors {
  background-image: url(../img/last-segment.png);
  background-repeat: no-repeat;
  position: absolute;
  max-width: 100%;
  width: 1366px;
  height: 533.32px;
  left: 0px;
  top: 2827px;
  z-index: 1;
}

.flex-container-logos {
  position: inherit;
  width: 1030px;
  height: 80px;
  top: 218px;
  left: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===Footer=== */

.footer {
  position: absolute;
  width: 1366px;
  height: 376px;
  left: 0;
  bottom: 0;
  z-index: 2;

  font-weight: 500;
  color: #fff;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
}

.flex-container-footer {
  position: inherit;
  top: 71px;
  right: 63px;
  left: 63px;
  bottom: 13px;
}

.golden-logo {
  position: inherit;
  height: 182px;
  width: 182px;
}

.copyright {
  position: inherit;
  bottom: 13px;
}

.copyright-text {
  margin: 0;

  font-size: 14px;
  line-height: 17px;
}

.footer-nav {
  position: inherit;
  left: 322px;
}

.footer-nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-list-item {
  margin-bottom: 21px;
}

.footer-list-item:hover {
  border-bottom: 3px solid #ffa800;
}

.bank-account {
  position: inherit;
  left: 580px;
}

.footer-title {
  margin: 0;
  padding-bottom: 13px;

  font-size: 24px;
  line-height: 29px;
}

.account-number > p {
  margin: 0;
  padding-bottom: 10px;
}

.adress {
  position: inherit;
  right: 0;

  font-style: normal;
  text-align: right;
}

.adress-details > p {
  margin: 0;
  padding-bottom: 10px;
}

.route-to-accoount {
  display: none;
}

.social-media {
  position: inherit;
  bottom: 72px;
  right: 0;
  display: flex;
}

.fb-icon {
  padding-right: 29px;
}

.private {
  right: 0;
}

/*========================================
                 Media
=========================================*/

/* Mobile devices
================= */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container,
  .header,
  .footer,
  .flex-container-gallery {
    width: 320px;
  }

  .container {
    height: 2904px;
  }

  /* ===Header=== */

  .header {
    height: 45px;
  }

  .ripped_header {
    top: 30px;
  }

  .black-logo {
    left: 20px;
    width: 78px;
    height: auto;
  }

  /* Burgers un overlay menu!!! */
  .nav {
    display: none;
  }

  /* ===Introduction section=== */

  .video {
    width: 320px;
    height: auto;
    background-size: 50px 48px, contain;
  }

  .about-company {
    top: 287px;
    left: 20px;
    width: 280px;
    height: 124px;

    font-size: 12px;
    line-height: 15px;
  }

  /* ===Gallery section===*/

  .flex-container-gallery {
    top: 357px;
    display: flex;
  }

  .flex-container-gallery.wrap {
    flex-wrap: wrap;
  }

  .first-img {
    order: 3;
  }

  .second-img {
    order: 4;
  }

  .first-img img,
  .second-img img {
    width: 160px;
    height: 174.5px;
  }

  .colage-img {
    order: 1;
  }

  .colage-img img {
    width: 136px;
  }

  .bottom-img {
    height: 84px;
  }

  .last-img {
    order: 2;
    display: flex;
    align-items: flex-end;
  }

  .last-img img {
    width: 184px;
    height: 173px;
  }

  .flex-container-gallery::before {
    top: 87px;
  }

  .flex-container-gallery::after {
    top: 422px;
  }

  /* ===Contacts section=== */

  .flex-container-contacts {
    top: 930px;
    left: 20px;
    width: 280px;
    flex-direction: column;
  }

  .contacts-row.upper-text {
    margin-bottom: 160px;
  }

  .flex-container-btn {
    top: 987px;
    left: 43.5px;
    width: 233px;
    flex-direction: column;
  }

  .lower-btn {
    margin-top: 165px;
  }

  .section-titel {
    font-size: 18px;
    line-height: 27px;
  }

  .contact-form {
    top: 1380px;
    left: 20px;
    width: 280px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  .form-field {
    width: 280px;

    margin-bottom: 10px;

    font-size: 14px;
    line-height: 17px;
  }

  .form-title {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }

  .comment-field {
    height: 150px;
  }

  .small-form-text {
    margin-top: 0;

    font-size: 12px;
    line-height: 15px;
  }

  .checkbox {
    margin-top: 10px;
  }

  .text-block {
    width: 243px;
    display: inline;
    float: right;

    margin-top: 10px;
  }

  .submit-form-btn {
    width: 140px;
    height: 48px;
    left: 70px;
    top: 548px;

    font-size: 18px;
    line-height: 22px;
  }

  /* ===Benefactors section=== */

  .benefactors {
    top: 2093px;
    height: 732px;
  }

  .benefactors-titel {
    width: 320px;
    left: 0;
  }

  .benefactors-titel > .section-titel {
    font-size: 24px;
    line-height: 36px;
  }

  .flex-container-logos {
    width: 280px;
    height: 220px;
    left: 20px;
    top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .logo-teikums img,
  .logo-citybee img,
  .logo-sem img {
    width: 130px;
  }

  .logo-linearis img {
    width: 48px;
    margin-left: 60px;
    margin-right: 40px;
  }

  /* ===Footer=== */

  .footer {
    top: 2527px;
    height: 483px;
    background-size: cover;
  }

  .flex-container-footer {
    left: 20px;
    top: 60px;
    bottom: 0;
  }

  .golden-logo img {
    width: 100px;
    height: 100px;
  }

  .footer-nav,
  .bank-account {
    display: none;
  }

  .line-break {
    display: none;
  }

  .adress {
    position: absolute;
    right: -65px;
    top: 135px;
    width: 300px;

    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }

  .owner-name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }

  .route-to-accoount {
    display: block;

    font-size: 14px;
    line-height: 17px;
  }

  .route-to-accoount > p {
    margin: 0;
    font-weight: bold;
  }

  .social-media {
    right: 168px;
    top: 272px;
    height: 25px;

    margin-top: 35px;
    margin-bottom: 35px;
  }

  .fb-icon,
  .ig-icon {
    height: 25px;
  }

  .copyright {
    bottom: 51px;
    width: 280px;
  }

  .private {
    width: 200px;
    bottom: 30px;
    right: 37px;
  }

  .copyright-text {
    font-size: 11px;
    line-height: 13px;
  }
}

/*iPads, Tablets
================ */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container,
  .header,
  .footer,
  .flex-container-gallery {
    width: 481px;
  }

  .container {
    height: 3400px;
  }

  /* ===Header=== */

  .header {
    height: 50px;
  }

  .ripped_header {
    top: 37px;
  }

  .black-logo {
    left: 50px;
    width: 88px;
    height: auto;
  }

  /* Burgers un overlay menu!!! */
  .nav {
    display: none;
  }

  /* ===Introduction section=== */

  .video {
    width: 481px;
    height: auto;
    background-size: 66px 63px, contain;
  }

  .about-company {
    top: 368px;
    left: 50.5px;
    width: 380px;
    height: 124px;

    font-size: 16px;
    line-height: 18px;
  }

  /* ===Gallery section===*/

  .flex-container-gallery {
    top: 531px;
    display: flex;
  }

  .flex-container-gallery.wrap {
    flex-wrap: wrap;
  }

  .first-img {
    order: 3;
  }

  .second-img {
    order: 4;
  }

  .first-img img,
  .second-img img {
    width: 240.5px;
    height: 261px;
  }

  .colage-img {
    order: 1;
  }

  .colage-img img {
    width: 208px;
  }

  .bottom-img {
    height: 128px;
  }

  .last-img {
    order: 2;
    display: flex;
    align-items: flex-end;
  }

  .last-img img {
    width: 273px;
    height: 258px;
  }

  .flex-container-gallery::before {
    top: 42px;
  }

  .flex-container-gallery::after {
    top: 542px;
  }

  /* ===Contacts section=== */

  .flex-container-contacts {
    top: 1270px;
    left: 0;
    flex-direction: column;
  }

  .contacts-row {
    width: 481px;
    align-items: center;
  }

  .contacts-row.upper-text {
    margin-bottom: 160px;
  }

  .flex-container-btn {
    top: 1336px;
    left: 124px;
    width: 233px;
    flex-direction: column;
  }

  .lower-btn {
    margin-top: 148px;
  }

  .contact-form {
    top: 1750px;
    left: 20px;
    width: 441px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  .form-field {
    width: 441px;
  }

  .form-title {
    margin-bottom: 45px;
  }

  .small-form-text {
    margin-top: 0;
  }

  .checkbox {
    margin-top: 10px;
  }

  .text-block {
    width: 400px;
    display: inline;
    float: right;
    margin-top: 10px;
  }

  .submit-form-btn {
    left: 130.5px;
    top: 658px;
  }

  /* ===Benefactors section=== */

  .benefactors {
    top: 2600px;
    height: 732px;
  }

  .benefactors-titel {
    width: 440px;
    left: 20.5px;
  }

  .benefactors-titel > .section-titel {
    font-size: 24px;
    line-height: 36px;
  }

  .flex-container-logos {
    width: 380px;
    height: 220px;
    left: 50.5px;
    top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .logo-teikums img,
  .logo-citybee img,
  .logo-sem img {
    width: 163px;
  }

  .logo-linearis img {
    width: 58px;
    margin-left: 90px;
    margin-right: 60px;
  }

  /* ===Footer=== */

  .footer {
    top: 3033px;
    height: 483px;
    background-size: cover;
  }

  .flex-container-footer {
    left: 50px;
    top: 60px;
    bottom: 0;
  }

  .golden-logo img {
    width: 100px;
    height: 100px;
  }

  .footer-nav,
  .bank-account {
    display: none;
  }

  .line-break {
    display: none;
  }

  .adress {
    position: absolute;
    right: 67px;
    top: 135px;
    width: 300px;

    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }

  .owner-name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }

  .route-to-accoount {
    display: block;

    font-size: 14px;
    line-height: 17px;
  }

  .route-to-accoount > p {
    margin: 0;
    font-weight: bold;
  }

  .social-media {
    right: 300px;
    top: 272px;
    height: 25px;

    margin-top: 35px;
    margin-bottom: 35px;
  }

  .fb-icon,
  .ig-icon {
    height: 25px;
  }

  .copyright {
    bottom: 51px;
  }

  .private {
    width: 200px;
    bottom: 30px;
    right: 167px;
  }

  .copyright-text {
    font-size: 11px;
    line-height: 13px;
  }
}

/* 768px - my tablet size. (Small screens, laptops)
======================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container,
  .header,
  .footer,
  .flex-container-gallery {
    width: 768px;
  }

  .container {
    height: 2990px;
  }

  /* ===Header=== */

  .header {
    height: 74px;
  }

  .ripped_header {
    top: 65px;
  }

  .black-logo {
    left: 80px;
    width: 128px;
    height: auto;
  }

  /* Burgers un overlay menu!!! */
  .nav {
    display: none;
  }

  /* ===Introduction section=== */

  .video {
    top: 71px;
    width: 768px;
    height: 406px;
    background-size: 86px 83px, contain;
  }

  .about-company {
    width: 608px;
    height: 140px;
    left: 80px;
    top: 627px;
  }

  /* ===Gallery section===*/

  .flex-container-gallery {
    top: 827px;
  }

  .flex-container-gallery::before {
    top: 70px;
  }

  .last-img {
    display: flex;
    align-items: center;
  }

  .flex-container-gallery::after {
    top: 257px;
  }

  /* ===Contacts section=== */

  .flex-container-contacts {
    top: 1291px;
    left: 80px;

    width: 608px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .contacts-row {
    width: 233px;
  }

  .section-titel {
    font-size: 18px;
    line-height: 27px;
  }

  .flex-container-btn {
    width: 608px;
    left: 80px;
    top: 1395px;
  }

  .contact-form {
    left: 80px;
    top: 1597px;
  }

  .form-title {
    margin-bottom: 60px;
  }

  .text-block {
    width: 550px;
    display: inline;
    float: right;
    margin-top: 10px;
  }

  .checkbox {
    margin-top: 13px;
  }

  .submit-form-btn {
    top: 589px;
  }

  /* ===Benefactors section=== */

  .benefactors {
    top: 2364px;
    height: 299.85px;
  }

  .benefactors-titel {
    left: 273px;
    top: 56px;
    width: 222px;
    height: 34px;
  }

  .benefactors-titel > .section-titel {
    font-size: 24px;
    line-height: 36px;
  }

  .flex-container-logos {
    left: 80px;
    top: 126px;
    width: 608px;
  }

  .logo-teikums img,
  .logo-citybee img {
    width: 143px;
  }

  .logo-linearis img {
    width: 49px;
  }

  .logo-sem img {
    width: 123px;
  }

  /* ===Footer=== */

  .footer {
    top: 2617px;
    height: 376px;
  }

  .flex-container-footer {
    right: 80px;
    top: 80px;
    bottom: 0;
  }

  .golden-logo img {
    width: 162px;
    height: 162px;
  }

  .copyright {
    bottom: 40px;
  }

  .copyright-text {
    font-size: 16px;
    line-height: 20px;
  }

  .social-media {
    bottom: 90px;
  }

  .fb-icon {
    padding-right: 34.5px;
  }

  .fb-icon,
  .ig-icon {
    height: 25px;
  }

  .owner-name {
    position: absolute;
    top: 144px;
    right: 473px;
    width: 225px;
  }

  .line-break {
    display: none;
  }

  .footer-nav,
  .bank-account {
    display: none;
  }

  .adress {
    top: 40px;
  }

  .route-to-accoount {
    display: block;
  }

  .route-to-accoount > p {
    margin: 0;
    font-weight: bold;
  }
}

/*Desktops, large screens
=========================*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container,
  .header,
  .footer,
  .flex-container-gallery {
    width: 992px;
  }

  .container {
    height: 3264px;
  }

  /* ===Header=== */

  .black-logo {
    left: 3px;
  }

  .nav {
    left: 154px;
    width: 830px;
  }

  /* ===Introduction section=== */

  .video {
    width: 992px;
    height: auto;
    background-size: 86px 83px, contain;
  }

  .about-company {
    top: 693px;
    left: 169px;
  }

  /* ===Gallery section===*/

  .flex-container-gallery {
    top: 900px;
  }

  .flex-container-gallery::before {
    top: 45px;
  }

  .last-img {
    display: flex;
    align-items: center;
  }

  .flex-container-gallery::after {
    top: 285px;
  }

  /* ===Contacts section=== */

  .flex-container-contacts {
    top: 1342px;
    left: 57px;

    width: 878px;
  }

  .flex-container-btn {
    top: 1428px;
    left: 128px;

    width: 680px;
  }

  .contact-form {
    top: 1630px;
    left: 190px;
  }

  .text-block {
    width: 570px;
    display: inline;
    float: right;
    margin-top: 25px;
  }

  .checkbox {
    margin-top: 25px;
  }

  .submit-form-btn {
    top: 599px;
  }

  /* ===Benefactors section=== */

  .benefactors {
    top: 2449px;
  }

  .benefactors-titel {
    left: 299px;
  }

  .flex-container-logos {
    left: 46px;
    width: 900px;
  }

  /* ===Footer=== */

  .footer {
    top: 2899px;
  }

  .flex-container-footer {
    left: 36px;
    right: 36px;
  }

  .footer-nav {
    left: 200px;
  }

  .bank-account {
    left: 350px;
  }
}

/*Extra large screens, TV*
=======================*/
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .container,
  .header,
  .ripped_header,
  .footer,
  .video,
  .flex-container-gallery {
    width: 1200px;
  }

  .container {
    height: 3516px;
  }

  /* ===Header=== */

  .nav {
    width: 870px;
  }

  /* ===Introduction section=== */

  .video {
    width: 1200px;
    height: auto;
    background-size: 86px 83px, contain;
  }

  .about-company {
    top: 797px;
    left: 273px;
  }

  /* ===Gallery section===*/

  .flex-container-gallery {
    top: 1061px;
  }

  .flex-container-gallery::before {
    top: 20px;
  }

  .last-img {
    display: flex;
    align-items: center;
  }

  .flex-container-gallery::after {
    top: 315px;
  }

  /* ===Contacts section=== */

  .flex-container-contacts {
    top: 1600px;
    left: 111px;
  }

  .flex-container-btn {
    top: 1686px;
    left: 220px;
  }

  .contact-form {
    top: 1888px;
    left: 294px;
  }

  .text-block {
    width: 575px;
    display: inline;
    float: right;
    margin-top: 25px;
  }

  .checkbox {
    margin-top: 25px;
  }

  /* ===Benefactors section=== */

  .benefactors {
    top: 2690px;
  }

  .benefactors-titel {
    left: 403px;
  }

  .flex-container-logos {
    left: 85px;
  }

  /* ===Footer=== */

  .footer {
    top: 3140px;
  }

  .footer-nav {
    left: 250px;
  }

  .bank-account {
    left: 470px;
  }
}
