*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 18px;
  background: #e5e5e5;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: 3651px;

  box-sizing: border-box;
  margin: 0 auto;

  background: #fff;
}

/* ===Header=== */

.header {
  position: absolute;
  width: 1366px;
  height: 90px;
  left: 0px;
  top: 0px;
  z-index: 2;

  background: #fff;
}

.ripped_header {
  position: absolute;
  width: 1366px;
  height: 30px;
  left: 0;
  top: 85.07px;
  z-index: 2;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  background-image: url(../img/ripped_header.svg), url(../img/ripped_header.png);
}

.black-logo {
  position: absolute;
  width: 159px;
  height: 96px;
  left: 62px;
  top: 0;
  z-index: 3;
}

.nav {
  position: absolute;
  height: 45px;
  width: 999px;
  top: 51px;
  left: 305px;
  z-index: 3;

  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;

  color: #060606;
}

.inner-nav {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-item {
  display: inline-block;

  /* transition: border-bottom .3s; */
}

.nav-item:hover,
.active {
  border-bottom: 3px solid #ffa800;
  /* transition-timing-function: ease-in;
    transition-duration: .7s; */
  /* transition: border-bottom .3s; */
}

.nav-item .language {
  text-align: center;
}

/* ===Introduction section=== */

.video {
  position: absolute;
  left: 0px;
  top: 47px;
  z-index: 1;
}

.video-poster {
  object-fit: cover;
}

/* .play-image {
  position: absolute;
  width: 86px;
  height: 83px;
  left: 640px;
  top: 366px;
  z-index: 2;

  background: url(../img/play.png) ;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
} */

.about-company {
  position: absolute;
  width: 654px;
  height: 114px;
  left: 359px;
  top: 919px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;

  color: #2f4858;
}

/* ===Gallery section===*/

.flex-container-gallery {
  position: absolute;
  width: 1366px;
  top: 1200px;
  left: 0;
  display: flex;
}

.row {
  height: 180px;
}

.flex-container-gallery::before {
  content: "";
  background-image: url(../img/ripped.svg), url(../img/ripped.png);
  position: absolute;
  width: 1366px;
  height: 55px;
  left: 0;
  z-index: 2;
}

.flex-container-gallery::after {
  content: "";
  background-image: url(../img/ripped.svg), url(../img/ripped.png);
  transform: rotate(-180deg);
  position: absolute;
  width: 1366px;
  height: 55px;
  left: 0px;
  top: 330px;
}

/* ===Contacts section=== */

.flex-container-contacts {
  position: absolute;
  width: 978px;
  top: 1731px;
  left: 220px;
  display: flex;
  justify-content: space-around;
}

.section-titel {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #2f4858;

  margin: 0;
}

.flex-container-btn {
  position: absolute;
  width: 710px;
  left: 330px;
  top: 1810px;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 233px;
  height: 52px;

  padding: 0 50px;
  border: 0;
  border-radius: 50px;

  background-color: #ffa800;

  cursor: pointer;
}

.btn-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.btn:hover {
  background-color: #ffda16;
}

.btn:active {
  background-color: #ff8a00;
}

/* ===Benefactors section=== */

.benefactors-titel {
  position: absolute;
  left: 486px;
  top: 100px;
  width: 394px;
}

.benefactors {
  background-image: url(../img/last-segment.png);
  position: absolute;
  width: 1366px;
  height: 533.32px;
  left: 0px;
  top: 2827px;
  z-index: 1;
}

.flex-container-logos {
  position: absolute;
  width: 1030px;
  height: 80px;
  top: 218px;
  left: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===Footer=== */

.footer {
  position: absolute;
  width: 1366px;
  height: 376px;
  left: 0%;
  bottom: 0%;
  z-index: 2;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: #fff;

  background-image: url(../img/footer.png);
}

.flex-container-footer {
  position: absolute;
  top: 71px;
  right: 63px;
  left: 63px;
  bottom: 13px;
}

.golden-logo {
  position: inherit;
  height: 182px;
  width: 182px;
}

.copyright {
  position: inherit;
  bottom: 13px;
}

.copyright-text {
  margin: 0;

  font-size: 14px;
  line-height: 17px;
}

.footer-nav {
  position: inherit;
  left: 384px;
}

.footer-nav-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 21px;
}

.footer-list-item:hover {
  border-bottom: 3px solid #ffa800;
}

.bank-account {
  position: inherit;
  left: 642px;
}

.footer-title {
  margin: 0;
  padding-bottom: 13px;

  font-size: 24px;
  line-height: 29px;
}

.account-number > p {
  margin: 0;
  padding-bottom: 10px;
}

.adress {
  position: inherit;
  right: 0;

  font-style: normal;
  text-align: right;
}

.adress-details > p {
  margin: 0;
  padding-bottom: 10px;
}

.social-media {
  position: inherit;
  bottom: 72px;
  right: 0;
  display: flex;
}

.fb-icon {
  padding-right: 29px;
}

.private {
  right: 0;
}

/* @media only screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1366px) {
  .container {
    width: 1366px;
  }
} */
